<!DOCTYPE html>
<head>
  <link href="{{ site.baseurl }}/css/style.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>
	<main>
	<!-- {% include header.html %} -->
		<div class="box">
			<div class="box2">
				<ul>
					<li><a href="https://api.whatsapp.com/send?phone=31614110338&text=Hey%20Guus"></a></li>
					<li><a href="mailto:itsguus@gmail.com"></a></li>
					<li><a href="https://www.instagram.com/itsguus/"></a></li>
				</ul>
			</div>
		</div>
		<!-- <div class="container">{% include footer.html %}</div> -->
	</main>
	<script src="{{ site.baseurl }}/js/scripts.js"></script>
</body>
</html>	
